 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-image-1 {
  width: 613px;
  height: 734px;
  margin: 43px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 707px;
  min-height: 689px;
  height: auto;
  margin: -689px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 260px;
  min-width: 120px;
  white-space: nowrap;
  margin: 16px auto 0 87px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-btn-1 {
  font-size: 3.75rem;
  margin: 43px auto 0 43px;
  padding: 0 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 563px;
  }

  .u-section-1 .u-group-1 {
    width: 589px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 462px;
    height: 602px;
  }

  .u-section-1 .u-group-1 {
    width: 411px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.875rem;
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-image-1 {
    height: 603px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -602px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-image-1 {
    height: 476px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -362px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1031px;
}

.u-section-2 .u-group-1 {
  width: 403px;
  min-height: 911px;
  height: auto;
  margin: 60px auto 0 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 125px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-list-1 {
  width: 575px;
  margin: -911px auto 0 515px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 414px;
  grid-gap: 32px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-15 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-17 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-18 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-19 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-20 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-21 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-group-2 {
  width: 575px;
  min-height: 403px;
  height: auto;
  margin: 40px 50px 60px auto;
}

.u-section-2 .u-container-layout-6 {
  padding-bottom: 3px;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-24 {
  font-family: Poppins;
  line-height: 2;
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 326px;
    min-height: 918px;
    margin-top: 53px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-social-icons-1 {
    width: 126px;
    margin-left: -1px;
  }

  .u-section-2 .u-list-1 {
    margin-left: 365px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
    margin: 36px auto 84px 365px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-2 .u-group-1 {
    width: 304px;
    min-height: 1030px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-list-1 {
    width: 377px;
    margin-top: -1030px;
    margin-left: 343px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 409px;
    grid-gap: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-15 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-17 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-19 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-21 {
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    width: 377px;
    min-height: 570px;
    margin-top: 21px;
    margin-bottom: 90px;
    margin-left: 343px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1969px;
  }

  .u-section-2 .u-group-1 {
    min-height: 898px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 418px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-bottom: 60px;
    min-height: 502px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2047px;
  }

  .u-section-2 .u-group-1 {
    min-height: 918px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-group-2 {
    margin-top: -13px;
    min-height: 564px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: none;
  margin: 33px 43px 0;
}

.u-section-3 .u-shape-1 {
  width: 394px;
  height: 394px;
  --radius: 15px;
  margin: 76px auto 0 104px;
}

.u-section-3 .u-image-1 {
  width: 354px;
  height: 272px;
  margin: -366px auto 0 124px;
}

.u-section-3 .u-text-2 {
  margin: 5px 656px 0 124px;
}

.u-section-3 .u-shape-2 {
  width: 394px;
  height: 394px;
  --radius: 15px;
  margin: -384px 154px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 345px;
  height: 272px;
  margin: -366px 179px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -13px 222px 0 660px;
}

.u-section-3 .u-shape-3 {
  width: 394px;
  height: 394px;
  --radius: 15px;
  margin: 115px auto 0 104px;
}

.u-section-3 .u-image-3 {
  width: 353px;
  height: 277px;
  margin: -375px auto 0 124px;
}

.u-section-3 .u-text-4 {
  margin: 12px 656px 0 124px;
}

.u-section-3 .u-shape-4 {
  width: 394px;
  height: 394px;
  --radius: 15px;
  margin: -388px 154px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 353px;
  height: 277px;
  margin: -375px 175px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 12px 171px 60px 609px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -140px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -79px;
    margin-right: 556px;
    margin-left: 24px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -287px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -72px;
    margin-right: 122px;
    margin-left: 560px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 90px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 556px;
    margin-left: 24px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -374px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 71px;
    margin-left: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 360px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 12px;
    margin-left: 450px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 360px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 1880px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 92px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -573px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -833px;
    margin-right: 180px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 687px;
    margin-right: 146px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -835px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: -679px;
    margin-right: 0;
    margin-left: 282px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 1212px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -1061px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -504px;
    margin-right: 180px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 601px;
    margin-right: 146px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -821px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -378px;
    margin-bottom: -313px;
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 1730px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 75px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 261px;
    margin-top: -587px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -801px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-top: 693px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 268px;
    margin-top: -806px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -680px;
    margin-left: 82px;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-top: 1413px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 267px;
    margin-top: -1180px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -495px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-4 {
    width: 340px;
    height: 340px;
    margin-top: 775px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 267px;
    margin-top: -926px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: -383px;
    margin-left: 0;
    margin-bottom: -300px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1163px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: none;
  margin: 33px 43px 0;
}

.u-section-4 .u-list-1 {
  width: 872px;
  margin: 56px auto 60px;
}

.u-section-4 .u-repeater-1 {
  min-height: 854px;
  grid-auto-columns: calc(33.3333% - 42.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 42.6667px));
  grid-gap: 64px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  height: auto;
  margin: 10px 10px 0;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -181px 22px 0 67px;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 96px -49px 0 22px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-shape-2 {
  height: auto;
  margin: 10px 10px 0;
}

.u-section-4 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -181px 22px 0 67px;
}

.u-section-4 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 96px -49px 0 22px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-shape-3 {
  height: auto;
  margin: 10px 10px 0;
}

.u-section-4 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -181px 22px 0 67px;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 96px -49px 0 22px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-shape-4 {
  height: auto;
  margin: 10px 10px 0;
}

.u-section-4 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -181px 22px 0 67px;
}

.u-section-4 .u-text-9 {
  font-size: 3rem;
  font-weight: 700;
  margin: 96px -49px 0 22px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-shape-5 {
  height: auto;
  margin: 10px 10px 0;
}

.u-section-4 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -181px 22px 0 67px;
}

.u-section-4 .u-text-11 {
  font-size: 3rem;
  font-weight: 700;
  margin: 96px -49px 0 22px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-shape-6 {
  height: auto;
  margin: 10px 10px 0;
}

.u-section-4 .u-text-12 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -181px 22px 0 67px;
}

.u-section-4 .u-text-13 {
  font-size: 3rem;
  font-weight: 700;
  margin: 96px -49px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 676px;
    grid-auto-columns: calc(33.333333333333336% - 42.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 42.6667px));
  }

  .u-section-4 .u-shape-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-5 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-6 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1342px;
    grid-auto-columns: calc(50% - 32.000025px);
    grid-template-columns: repeat(2, calc(50% - 32.000025px));
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 4317px;
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-12 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 2837px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-13 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 808px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 55px 221px 0 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 37px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 63px 0 0;
}

.u-section-5 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 197px;
  min-width: 120px;
  white-space: nowrap;
  margin: 28px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 700;
  margin: 83px 269px 0 0;
}

.u-section-5 .u-form-1 {
  height: 368px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-5 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-5 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-5 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background-image: none;
  padding: 15px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 131px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 68px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.875rem;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}